@font-face {
    font-family: "nanumSquare";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquare";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquare";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquare";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquare/nanumSquare-ExtraBold.ttf") format("truetype");
    font-display: swap;
}
.nanumSquare {
    font-family: "nanumSquare";
}
.nanumSquare300 {
    font-family: "nanumSquare";
    font-weight: 300;
}
.nanumSquare400 {
    font-family: "nanumSquare";
    font-weight: 400;
}
.nanumSquare700 {
    font-family: "nanumSquare";
    font-weight: 700;
}
.nanumSquare800 {
    font-family: "nanumSquare";
    font-weight: 800;
}